* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Karla", sans-serif;
}
main {
  padding: 36px;
}
.header {
  display: flex;
  color: antiquewhite;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  height: 75px;
  padding: 10px 30px;
}
.header--title {
  margin: 0;
  margin-left: 15px;
  margin-right: auto;
  font-size: 25px;
  font-weight: 600;
}
.header--desc {
  font-size: 20px;
}
.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}
.form--inputs {
  font-family: "Karla", sans-serif;
  border: 0.82px solid #d1d5db;
  border-radius: 5px;
  text-indent: 8px;
}
.form--button {
  font-family: "Karla", sans-serif;
  grid-column: 1 / -1;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  color: white;
  cursor: pointer;
  border-radius: 5px;
  border: none;
}
.meme--image {
  margin-top: 10px;
  width: 100%;
}
.meme {
  position: relative;
}

.meme--image {
  max-width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}
